<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Student Courses</h1>

    <table>
        <thead>
            <tr>
                <th>
                    Course
                </th>
                <th>
                    Professor
                </th>
                <th>
                    Time
                </th>
                <th>
                    Capacity
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                {% for c in courses %}
                <td>{{c.name}}</td>
                <td>{{c.professor.name}}</td>
                <td>{{c.time}}</td>
                <td>{{c.capacity}}</td>
            </tr>
                {% endfor %}
        </tbody>


    </table>



    <form action="{{ url_for('logout') }}" method="GET">
        <button type="submit">Log Out</button>
    </form>


</body>
</html>