<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    {% extends "base.html" %}
    {% block title %}Teacher Courses{% endblock %}

    {% block content %}
    
    <h1>Teacher Courses</h1>

    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Students Enrolled</th>
            </tr>
        </thead>
        <tbody>
            {% for c in courses %}
            <tr>
                <td>{{c.name}}</td>
                <td>{{ c.professor.name }}</td>
                <td>{{ c.time }}</td>
                <td>{{ c.students.count() }} / {{ c.capacity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{{ url_for('logout') }}" method="GET">
        <button type="submit">Log Out</button>
    </form>

    {% endblock %}
</body>
</html>